#jcss-insert-full-container {
  background-color: #fffaf0;
  display: none;
  position: fixed;
  padding: 2px;

  border-top: 24px solid white;
  border-right: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  z-index: 1999;
}

.jcss-insert-full-to-normal {
  position: relative;
  top: -24px;
  float: right;
  background: url("close_16.png") no-repeat scroll 96% 50% #fffea1;
  padding-right: 32px;
  height: 24px;
  z-index: 2000;
  padding-left: 4px;
}

#jcss-insert-tabs {
  position: fixed;
  top: 0;
  float: left;
  height: 24px;
  z-index: 1999;
}

#jcss-insert-css-tab,
#jcss-insert-css-rtl-tab {
  display: none;
  float: left;
  background-color: #808080;
  padding: 0 6px;
  margin-top: 4px;
  height: 20px;
  z-index: 2000;
}

#jcss-insert-css-tab.active,
#jcss-insert-css-rtl-tab.active {
  background-color: #fffaf0;
  font-weight: bold;
}
